*.log
*.ipch
*.exe
*.iobj
*.tlog
*.obj
*.pdb
*.ipdb
*.db
*.opendb
*.dll
Project/.vs/3DEngine/v15/.suo
*.exe
*.iobj
*.obj
Project/.vs/3DEngine/v15/.suo
*.ipch
*.log
*.lastbuildstate
*.tlog
*.db
*.opendb
*.ipdb
*.pdb
*.db
